# Obsidian系统文件
.obsidian/workspace
.obsidian/workspace.json
.obsidian/cache
.obsidian/graph.json

# 操作系统文件
.DS_Store
Thumbs.db
desktop.ini

# 临时文件
*.tmp
*.bak
*.swp

# 个人日志和非共享资源
05-Journal/
# 可以根据需要添加其他不想上传的文件夹或文件，例如：
# 03-Resources/Personal/
01-Projects/04-互联网+白桦茸项目/
02-Areas/03-个人成长/
01-Projects/03-实习申请/ 