# Obsidian系统文件
.obsidian/workspace
.obsidian/workspace.json
.obsidian/cache
.obsidian/graph.json

# 操作系统文件
.DS_Store
Thumbs.db
desktop.ini

# 临时文件
*.tmp
*.bak
*.swp

# 个人日志和非共享资源
05-Journal/
# 可以根据需要添加其他不想上传的文件夹或文件，例如：
# 03-Resources/Personal/
01-Projects/04-互联网+白桦茸项目/
02-Areas/03-个人成长/
01-Projects/03-实习申请/
01-Projects/01-竞赛项目/02-建模大赛/

# Ignore large PDF files removed from Git history
02-Areas/01-学习/06-财务管理学/荆新《财务管理学》第9版 学习指导.pdf
02-Areas/01-学习/06-财务管理学/荆新《财务管理学》第9版(1).pdf
02-Areas/01-学习/07-制度经济学/西方现代思想丛书 通往奴役之路 修订版 (（英）弗里德里希·奥古斯特·冯·哈耶克著) (Z-Library).pdf

# Ignore all PDF and PPT files globally
*.pdf
*.ppt
*.pptx
*.docx

# Ignore all zip files
*.zip

# Ignore specific zip file
02-Areas/01-学习/02-毛概/obsidian-mb-0.8.zip 